{% extends "base.html" %}

{% block header %}
    <script src="{{url_for('static',filename='js/funções.js')}}" defer></script>
    <link rel="stylesheet" href="{{url_for('static',filename='css/calculator.css')}}">
{% endblock header %}

{% block body %}
<section>
    <h2>FUNÇÕES</h2>
    <p>Esse é o útilmo desafio da #7DaysOfCode e é um dos mais interessantes, já que, o desafio é criar uma calculadora onde cada função é responsável por uma operação.</p>
    <p>Funções são blocos de código que podem ser reutilizados, deixando o código mais organizado e funcional.</p>

    <pre>function somar(a=0,b=0){
    return a + b
}</pre>

    <h2>RESULTADO</h2>

    <code id="container_calculator">
        <form action="" method="post" id="calculator">
            <div id="container_display">
                <p id="before"></p>
                <p id="real">0</p>
            </div>
            <div id="container_option">
                <div id="container_number">
                    <button class="number">1</button>
                    <button class="number">2</button>
                    <button class="number">3</button>
                    <button class="number">4</button>
                    <button class="number">5</button>
                    <button class="number">6</button>
                    <button class="number">7</button>
                    <button class="number">8</button>
                    <button class="number">9</button>
                    <button class="number">0</button>
                    <button id="equal">=</button>
                    <button id="clear">AC</button>
                </div>
                <div id="container_operation">
                    <button value="/">÷</button>
                    <button value="*">x</button>
                    <button value="-">-</button>
                    <button value="+">+</button>
                </div>
            </div>
        </form>
    </code>
</section>
{% endblock body %}