:root{
    --bg: #C9D7DD;
    --code: #637A9F;
    --input: #FFF3CF;
    --color: #345;
    --color-code: #fff;
    --prov: #E8C872;
    --width: 50%;
}

*{
    padding: 0;
    margin: 0;
}

section{
    display: flex;
    min-width: 100%;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

#intro img{
    display: block;
    height: 50%;
    image-rendering: pixelated;
}

#intro{
    background-image: url("/static/bg.png");
    background-position: bottom;
    background-size: 50vh;
    background-repeat: repeat-x;
    image-rendering: pixelated;
}

#presentation{
    display: flex;
    width: 50%;
    flex-flow: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
}

#presentation h2{
    display: block;
    width: 100%;
    font-size: 6vw;
    font-weight: 500;
    background-color: transparent;
    text-align: left;
    color: #678;
    font-weight: bold;
}

#presentation p{
    font-size: 16px;
}


#presentation .button{
    margin: 10px 0;
}

#about{
    line-height: 23px;
    flex-flow: column;
    background-color: var(--code);
}

#about .button{
    color: var(--color);
}

#about img{
    height: 25%;
    image-rendering: pixelated;
}

#manager{
    display: block;
    width: var(--width);
    text-align: justify;
}

#manager p, #manager a{
    color: var(--color-code);
}

#auth{
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
    line-height: 23px;
    background-image: url("/static/bgtop.png");
    background-position: top;
    background-size: 50vh;
    background-repeat: repeat-x;
    image-rendering: pixelated;
}

#auth img{
    height: 50%;
}

#aboutme{
    width: var(--width);
    max-width: 500px;
}

@media screen and (max-width:500px){
    #intro{
        flex-flow: column;
        justify-content: flex-start;
        gap: 10px;
        background-image: url('/static/phone.png');
        background-size: 90%;
    }
    #intro img{
        display: none;
    }
    #presentation{
        width: 100%;
        height: 70%;
    }
    #about img, #auth img{
        width: 45%;
        height: auto;
    }
    #auth{
        flex-flow: column;
        justify-content: center;
    }
    #aboutme{
        max-width: none;
    }
    #presentation h2, #about h2{
        font-size: 6vh;
    }
    *{
        --width:80%;
    }
}