{% extends "base.html" %}

{% block header %}
{% endblock header %}

{% block body %}
<section>
    <h2>FUNÇÕES</h2>
    <p>Esse é o útilmo desafio da #7DaysOfCode e é um dos mais interessantes, já que, o desafio é criar uma calculadora onde cada função é responsável por uma operação.</p>
    <p>Funções são blocos de código que podem ser reutilizados, deixando o código mais organizado e funcional.</p>

    <code>function somar(a=0,b=0){<br>return a + b<br>}</code>

    <h2>RESULTADO</h2>

    

</section>
{% endblock body %}