{% extends "base.html" %}

{% block header %}{% endblock header %}

{% block body %}
<section>
    <h2>REMOVEÇÃO DE ARRAY</h2>
    <p>Nesse desafio a ideia é remover um item da lista criada anteriormente.</p>
    <p>Há diversas formas de deletar um item de uma lista, mas dessa vez vamos utilizar o 'delete'</p>
    <code>delete list[<índice do produto>]</code>
    <fieldset>
        <legend>Lista de compras:</legend>
        Frutas: banana, tomate, maçã, uva, abacate<br>
        Laticínios: leite vegetal, leite de vaca, leite em pó<br>
        Congelados:<br>
        Doces: chiclete e bala de ursinho<br>
    </fieldset>
    <h2>RESULTADO</h2>
    <fieldset id="result">
    </fieldset>
    <button id='adicionar'>adicionar</button>
    <button id='deletar'>deletar</button>
</section>
<script>
    const result = document.querySelector("#result")
    let shopping_list = {
        headers:{
            'name':['frutas','laticínios','congelados','doces']
        },
        body:{
        'frutas':[],
        'laticínios':[],
        'congelados':[],
        'doces':[],
        },
    }

    function delete_item(list={},topic='',item=''){
        index = list['body'][topic].indexOf(item)
        if (index == -1)
            alert(`item "${item}" não existente`)
        else
            delete list['body'][topic][index]
    }

    function generate(list={}, place=''){
        let name = list['headers']['name']
        let body = list['body']

        place.innerHTML = '<legend>Lista de compras:</legend>'

        name.forEach(element => {
            place.innerHTML += `${element}:${body[element]}<br>`
        })
    }

    generate(shopping_list, result)

    document.querySelector("#adicionar").addEventListener('click',()=>{
        resp = prompt('digite um produto:')
        topic = prompt(`digite o tópico: ${shopping_list['headers']['name']}`)

        length = shopping_list['body'][topic].length

        shopping_list['body'][topic][length] = resp

        generate(shopping_list,result)
    })

    document.querySelector('#deletar').addEventListener('click',()=>{
        topic = prompt(`digite um tópico: ${shopping_list['headers']['name']}`)
        resp = prompt(`digite o nome do produto a ser deletado: ${shopping_list['body'][topic]}`)

        delete_item(shopping_list,topic,resp)

        generate(shopping_list,result)
    })

</script>
{% endblock body %}
