{% extends "base.html" %}

{% block header %}
{% endblock header %}

{% block body %}
<section>
    <h2>VARIÁVEIS</h2>
    <p>Nesse desafio tem como objetivo criar um prompt onde serão feitas três perguntas, sendo: </p>
    <ul>
        <li>Qual o seu nome?</li>
        <li>Quantos anos você tem?</li>
        <li>Qual linguagem de programação você está estudando?</li>
    </ul>

    <p>E logo após essas perguntas exibir a mensagem</p>
    <code>"Olá [nome], você tem [idade] anos e já está aprendendo [linguagem]!"</code>

    <h2>RESULTADO</h2>

    <div id="result"></div>

    <button>iniciar</button>
</section>
<script>
    var result = document.querySelector("#result")
    const button = document.querySelector('button')

    function quest(text=''){
        resp = prompt(text)
        if (resp == '')
            quest(text+'\nValor incorreto')
        else
            return resp
    }

    button.addEventListener('click',()=>{
        let code = document.createElement('code')
        let res = []
        res[0] = quest('Qual o seu nome?')
        res[1] = quest('Quantos anos você tem?')
        res[2] = quest('Qual linguagem de programação você está estudando?')

        
        resp = `Olá ${res[0]}, você tem ${res[1]} anos e já está aprendendo ${res[2]}!`

        code.innerText = resp
        result.appendChild(code)
    })

</script>
{% endblock body %}