@font-face {
    font-family: 'pixel';
    src: url(../Pixelify_Sans/PixelifySans-VariableFont_wght.ttf);
}

:root{
    --bg: #C9D7DD;
    --code: #637A9F;
    --input: #FFF3CF;
    --color: #345;
    --color-code: #fff;
    --prov: #E8C872;
    scrollbar-color: var(--code) transparent;
    scrollbar-width: 5px;
}

::-webkit-scrollbar{
    background-color: var(--bg);
    width: 5px;
}

::-webkit-scrollbar-thumb{
    background-color: var(--code);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: var(--color);
    scroll-behavior: smooth;
    transition: 0.2s, font-style, border-right;
}

html, body{
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
}

header, nav{
    display: block;
    width: 100%;
    height: 60px;
}

header ul{
    display: flex;
    width: 100%;
    height: 100%;
    padding: 0 20px;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    align-items: center;
}

header ul li{
    list-style: none;
    font-size: 16px;
    cursor: pointer;
}

header ul li a{
    text-decoration: none;
}

header ul li img{
    display: block;
    scale: 3;
    image-rendering: pixelated;
}

#desafios{
    display: block;
    padding: 10px;
    font-size: 18px;
    border-radius: 50px;
    color: var(--color);
}

#desafios.show{
    background-color: var(--code);
    color: var(--color-code);
}

h2{
    display: block;
    width: auto;
    height: auto;
    padding: 10px;
    border-radius: 5px;
    align-self: left;
    font-family: 'pixel';
    background-color: #E8C872;
    color: var(--color-code);
}

main{
    position: relative;
    top: 60px;
    display: flex;
    width: 100%;
    height: calc(100% - 60px);
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden scroll;
}

section{
    display: flex;
    width: 100%;
    height: auto;
    padding: 10px;
    flex-flow: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;
}

section p{
    text-indent: 10px;
}

ul{
    list-style-type: square;
    padding: 0 15px 0;
}

code{
    display: block;
    padding: 40px 20px 20px 20px;
    color: var(--color-code);
    font-family: 'Courier New', Courier, monospace;
    font-size: 14px;
    image-rendering: pixelated;
    background: url('/static/code.png') var(--code) repeat-x top;
    background-size: 310px;
}

code ul li{
    color: var(--color-code);
}

fieldset{
    padding: 20px;
}

legend{
    padding: 0 5px;
}

input, button, .button, #calculator p{
    text-decoration: none;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border: none;
    outline: none;
    border-radius: 10px;
    background-color: var(--bg);
    color: var(--color);
    cursor: pointer;
    gap: 5px;
    transition: 0.2s;
}

input img, button img, .button img{
    display: block;
    width: 25px;
    image-rendering: pixelated;
}

button:hover, .button:hover{
    background-color: var(--code);
    color: var(--color-code);
}

label{
    color: var(--color-code);
}

#menu{
    position: fixed;
    inset: 60px auto auto -100%;
    display: grid;
    width: 100%;
    max-width: 450px;
    height: calc(100% - 60px);
    grid-template-columns: 1fr;
    grid-template-rows: 50px 17px 1fr 50px;
    justify-items: flex-start;
    align-items: start;
    background-color: var(--code);
    color: var(--color-code);
    border-right: 5px solid var(--color);
    white-space: nowrap;
    list-style: none;
    gap: 20px;
    overflow: hidden;
    padding: 20px 10px 10px 10px;
    font-family: monospace;
    z-index: 3;
    transition: 0.8s ease, border-right;
}

#menu.show{
    left: 0;
}

#container_navigation{
    display: flex;
    width: 100%;
    height: 100%;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
}

.navigation{
    display: flex;
    width: auto;
    height: auto;
    padding: 10px 20px;
    justify-content: flex-start;
    align-items: center;
    align-self: flex-start;
    gap: 10px;
    text-decoration: none;
    border-radius: 5px;
    background-color: var(--bg);
    color: var(--color);
    cursor: pointer;
}

.navigation img{
    display: block;
    width: 30px;
    image-rendering: pixelated;
}

.navigation span{
    font-family: monospace;
    font-size: 16px;
}

.navigation:hover{
    scale: 1.04;
}

.menu_label{
    font-size: 17px;
    color: var(--color-code);
}

.menu_label::before{
    content: '#';
}

#menu li{
    list-style: none;
    padding: 0;
    align-self: flex-start;
}

#container_content{
    display: grid;
    width: 100%;
    height: 100%;
    padding: 5px 0 0 0;
    border-top: 1.5px solid #ddd;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-auto-rows: 40px;
    gap: 5px;
    overflow: hidden scroll;
}

#container_topic{
    display: flex;
    width: 100%;
    height: 100%;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
    padding: 0;
    overflow: hidden;
}

.content{
    display: block;
    width: 100%;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    background-color: rgba(0,0,0,0.1);
    color: var(--color-code);
    overflow: hidden;
    text-overflow: ellipsis;
    text-decoration: none;
    list-style: circle;
    font-size: 17px;
}

.content:hover{
    background-color: rgba(0,0,0,0.2);
}

.topic{
    width: 50px;
    list-style: none;
    cursor: pointer;
    overflow: hidden;
    border-radius: 5px;
}

.topic img{
    display: block;
    width: 50px;
    image-rendering: pixelated;
}

.topic:hover{
    scale: 1.04;
}

@media screen and (min-width:900px) {
    section{
        width: 50%;
    }
}

@media screen and (max-width: 650px){
    #menu{
        border: none;
        max-width: 100%;
    }
}
