@font-face {
    font-family: 'pixel';
    src: url(Pixelify_Sans/PixelifySans-VariableFont_wght.ttf);
}

:root{
    --bg: #C9D7DD;
    --code: #637A9F;
    --input: #FFF3CF;
    --color: #345;
    --color-code: #fff;
    --prov: #E8C872;
    scrollbar-color: var(--code) transparent;
    scrollbar-width: 5px;
}

::-webkit-scrollbar{
    background-color: var(--bg);
    width: 5px;
}

::-webkit-scrollbar-thumb{
    background-color: var(--code);
}

*{
    padding: 0;
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: var(--color);
    scroll-behavior: smooth;
}

html, body{
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
}

header, nav{
    display: block;
    width: 100%;
    height: 60px;
}

header ul{
    display: flex;
    width: calc(100% - 40px);
    height: 100%;
    padding: 0 20px;
    flex-flow: row nowrap;
    justify-content: flex-start;
    gap: 20px;
    align-items: center;
}

header ul li{
    list-style: none;
    font-size: 16px;
    cursor: pointer;
}

header ul li a{
    text-decoration: none;
}

header ul li img{
    display: block;
    scale: 3;
    image-rendering: pixelated;
}

#quest_list{
    display: flex;
    width: 0;
    height: 40px;
    justify-content: flex-start;
    align-self: center;
    overflow: scroll hidden;
    padding: 0;
    gap: 20px;
    transition: 0.8s ease;
    scrollbar-color: transparent transparent;
    border-right: 5px solid var(--code);
}

#quest_list.click{
    width: calc(100% - 20px);
    padding: 0 20px 0 0;
}

.quest, #desafios p{
    display: block;
    padding: 10px;
    background-color: transparent;
    color: var(--color);
    border-radius: 20px;
    transition: 0.2s;
}

.quest:hover, #desafios:hover p{
    color: var(--color-code);
    background-color: var(--code);
}

h2{
    display: block;
    width: auto;
    height: auto;
    padding: 10px;
    border-radius: 5px;
    align-self: left;
    font-family: 'pixel';
    background-color: #E8C872;
    color: var(--color-code);
}

main{
    position: relative;
    top: 60px;
    display: flex;
    width: 100%;
    height: calc(100% - 60px);
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden scroll;
}

section{
    display: flex;
    width: calc(100% - 20px);
    min-height: calc(100% - 20px);
    padding: 0 10px;
    flex-flow: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;
}

section p{
    text-indent: 10px;
}

ul{
    list-style-type: square;
    padding: 0 15px 0;
}

code{
    display: block;
    padding: 40px 20px 20px 20px;
    color: var(--color-code);
    font-family: 'Courier New', Courier, monospace;
    font-size: 14px;
    image-rendering: pixelated;
    background: url('/static/code.png') var(--code) repeat-x top;
    background-size: 310px;
}

code ul li{
    color: var(--color-code);
}

fieldset{
    padding: 20px;
}

legend{
    padding: 0 5px;
}

input, button, .button{
    text-decoration: none;
    display: block;
    padding: 20px;
    border: none;
    outline: none;
    border-radius: 10px;
    background-color: var(--bg);
    color: var(--color);
    cursor: pointer;
    transition: 0.2s;
}

button:hover, .button:hover{
    background-color: var(--code);
    color: var(--color-code);
}

@media screen and (min-width:900px) {
    section{
        width: 50%;
    }
}
