{% extends 'base.html' %}

{% block header %}
    <link rel="stylesheet" href="{{url_for('static',filename='css/admin.css')}}">
    <script src="/static/js/admin.js" defer></script>
{% endblock header %}

{% block body %}
    <section id="container_main">
        <section id="sign_admin">
            <div id="container_form">
                <h1>sign in admin</h1>
                <form action="/admin" method="post" autocomplete="off">
                    <input type="text" max="20" name="username"  placeholder="username" required autocomplete="off">
                    <input type="password" max="20" name="password" placeholder="password" required autocomplete="off">
                    <button>enviar</button>
                </form>
            </div>
        </section>
    </section>
    <section id="container_resp">
    </section>
{% endblock body %}