<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CatCat</title>
    <link rel="shortcut icon" href="{{url_for('static',filename='logo.png')}}" type="image/x-icon">
    <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">
    <script src="{{url_for('static', filename='/js/base.js')}}" defer></script>
    {% block header %}
    {% endblock header %}
</head>
<body>
<header>
        <nav>
            <ul>
                <li><a href="/"><img src="{{url_for('static', filename='logo.png')}}" alt=""></a></li>
                <li id="desafios">desafios</li>
            </ul>
        </nav>
</header>
<div id="container_menu">
    <div id="top"></div>
    <div id="menu">
        <ul id="container_topic">
            <li class="topic">javascript</li>
            <li class="topic">html</li>
            <li class="topic">css</li>
        </ul>
        <ul id="container_content">
        </ul>
    </div>
</div>
<main>
    {% block body %}
    {% endblock body %}
</main>
</body>
</html>
