{% extends "base.html" %}

{% block header %}
<link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
{% endblock header %}

{% block body %}
    <section id="intro">
        <div id="presentation">
            <h2>Hi.<br>I,m cat.</h2>
            <p>Quer conhecer mais sobre? Clique abaixo.</p>
            <a class="button" href="#about">conhecer</a>
        </div>
        <img src="{{url_for('static',filename='cat.png')}}" alt="cat stop">
    </section>
    <section id="about">
        <img src="{{url_for('static',filename='catsleeping.png')}}" alt="cat sleeping">
        <div id="manager">
            <p>Esse web site é feito com o objetivo de realizar os desafios da <a href="https://www.linkedin.com/in/rafaellaballerini?originalSubdomain=br" target="_blank">Rafaella Ballerini</a> e guardar todo o aprendizado de uma forma mais bonita e funcional.</p>
        </div>
    </section>
    <section id="auth">
        <img src="{{url_for('static',filename='catplaying.png')}}" alt="cat playing">
        <div id="aboutme">
            <p>Olá. Me chamo Vinicius Gabriel, tenho 18 anos e já fiz alguns projetos na minha vida e você pode acessar todo esse conteúdo no meu github <a href="https://github.com/gitviini" target="_blank">gitviini</a>.</p>
        </div>
    </section>
{% endblock body %}