{% extends "base.html" %}

{% block header %}
<link rel="stylesheet" href="{{url_for('static',filename='index.css')}}">
<style>
    #intro{
        background-image: url("{{url_for('static',filename='bg.png')}}");
        background-position: bottom;
        background-size: 50vh;
        background-repeat: repeat-x;
        image-rendering: pixelated;
    }
</style>
{% endblock header %}

{% block body %}
    <section id="intro">
        <div id="presentation">
            <h2>Hi.<br>I,m cat.</h2>
            <p>Quer conhecer mais sobre? Clique abaixo.</p>
            <a class="button" href="#about">conhecer</a>
        </div>
        <img src="{{url_for('static',filename='cat.png')}}" alt="">
    </section>
    <section id="about">
        <h2>sobre</h2>
        <div id="manager">
            <p>Esse web site é feito com o objetivo de realizar os desafios da <a href="https://www.linkedin.com/in/rafaellaballerini?originalSubdomain=br" target="_blank">Rafaella Ballerini</a> e guardar todo o aprendizado de uma forma mais bonita e funcional.</p>
        </div>
    </section>
{% endblock body %}