{% extends 'base.html' %}

{% block header %}
    <style>
        section{
            justify-content: center;
            align-items: center;
        }

        #manager{
            flex-flow: column;
            justify-content: center;
            align-items: flex-start;
            gap: 5px;
        }

        #manager form{
            display: flex;
            flex-flow: column;
            justify-content: center;
            align-items: flex-start;
            gap: 5px;
            border: 2px solid var(--bg);
            padding: 20px;
            border-radius: 20px;
        }

        #manager textarea{
            border: 2px solid var(--bg);
            padding: 10px;
            border-radius: 5px;
        }
    </style>
{% endblock header %}

{% block body %}
<section id="container_admin">
    <section id="manager">
        <form action="/admin" id="new_topic" autocomplete="off">
            <h1>new topic</h1>
            <input type="text" max="20" id="new_topic_name" placeholder="topic name" required>
            <input type="file" id="new_topic_image">
            <button>enviar</button>
        </form>
        <form action="/admin" id="delete_topic" autocomplete="off">
            <h1>delete topic</h1>
            <ul id="container_delete_topic"></ul>
        </form>
        <form action="/admin" id="new_content" autocomplete="off">
            <h1>new content</h1>
            <input type="text" max="20" id="new_content_name" placeholder="content" required>
            <textarea id="new_content_html" cols="30" rows="10"></textarea>
            <button>enviar</button>
        </form>
        <form action="/admin" id="edit_content">
            <h1>edit content</h1>
            <ul id="container_edit_content"></ul>
        </form>
        <form action="/admin" id="delete_content">
            <h1>delete content</h1>
            <ul id="container_delete_content"></ul>
        </form>
    </section>
</section>
{% endblock body %}