{% extends 'base.html' %}

{% block header %}
    <style>
        :root{
            --bg: #C9D7DD;
            --code: #637A9F;
            --input: #FFF3CF;
            --color: #345;
            --color-code: #fff;
            --prov: #E8C872;
            scrollbar-color: var(--code) transparent;
            scrollbar-width: 5px;
        }

        *{
            padding: 0;
            margin: 0;
            box-sizing: border-box;
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            color: var(--color);
            scroll-behavior: smooth;
            transition: 0.2s, font-style, border-right;
        }

        html, body{
            display: block;
            width: 100%;
            height: 100%;
            overflow: hidden;
        }

        section{
            padding: 0;
            gap: 0;
        }

        #container_admin{
            display: grid;
            grid-template-columns: 250px 1fr;
            width: 100%;
            height: 100%;
        }

        #manager{
            display: flex;
            flex-flow: column;
            width: auto;
            height: 100%;
            background-color: var(--bg);
        }

        details{
            padding: 20px;
        }

        summary{
            cursor: pointer;
        }

        form{
            margin: 10px 0 0 0;
            display: flex;
            flex-flow: column;
            justify-content: center;
            align-items: flex-start;
            gap: 10px;
        }

        #editor{
            display: grid;
            width: 100%;
            height: 100%;
            grid-template-columns: 1fr;
            grid-template-rows: 60px 1fr;
            background-color: #fff;
            border-left: 2.5px solid var(--bg);
        }

        #container_header_editor{
            display: flex;
            width: 100%;
            height: 100%;
            padding: 0 20px;
            flex-flow: row;
            justify-content: flex-start;
            align-items: center;
            gap: 20px;
        }

        #area_editor{
            display: block;
            padding: 5px;
            width: 100%;
            height: 100%;
            resize: none;
            border: 2.5px solid var(--bg);
            border-left: none;
            outline: none;
        }

        input, button, select{
            text-decoration: none;
            width: auto;
            display: flex;
            flex-flow: row nowrap;
            justify-content: center;
            align-items: center;
            padding: 10px;
            border: none;
            outline: none;
            border-radius: 10px;
            background-color: var(--bg);
            color: var(--color);
            cursor: pointer;
            gap: 5px;
            overflow: hidden;
            text-overflow: ellipsis;
            box-sizing: border-box;
            transition: 0.2s;
        }

        #manager input, #manager button, #manager select{
            background-color: rgba(0,0,0,0.1);
        }

        button:hover, .button:hover{
            background-color: var(--code);
            color: var(--color-code);
        }

    </style>
{% endblock header %}

{% block body %}
<section id="container_admin">
    <section id="manager">
        <details class="form">
            <summary>new topic</summary>
            <form action="/admin" id="new_topic" autocomplete="off" method="POST">
                <input type="text" max="20" id="new_topic_name" placeholder="topic name" required>
                <input type="file" id="new_topic_image" class="image" required>
                <button>enviar</button>
            </form>
        </details>
        <details class="form">
            <summary>delete topic</summary>
            <form action="/admin" id="delete_topic" autocomplete="off" method="DELETE">
                <ul id="container_delete_topic"></ul>
            </form>
        </details>
        <details class="form">
            <summary>new content</summary>
            <form action="/admin" id="new_content" autocomplete="off" method="POST">
                <select name="" id="new_content_topic">
                    <option selected value="">select-topic</option>
                    <option value="python">python</option>
                    <option value="java script">java script</option>
                </select>
                <input type="text" id="content_name" placeholder="name" required>
                <input type="file" id="new_content_html" class="file" required>
                <button>enviar</button>
            </form>
        </details>
        <details class="form">
            <summary>edit content</summary>
            <form action="/admin" id="edit_content" method="PUT">
                <ul id="container_edit_content"></ul>
            </form>
        </details>
        <details class="form">
            <summary>delete content</summary>
            <form action="/admin" id="delete_content" method="DELETE">
                <ul id="container_delete_content"></ul>
            </form>
        </details>
    </section>
    <section id="editor">
        <div id="container_header_editor">
            <span id="file_topic">python</span>
            <span id="file_name">file</span>
            <button id="clear">apagar</button>
            <button id="send">enviar</button>
        </div>
        <textarea id="area_editor" cols="100%" rows="100%"></textarea>
    </section>
</section>
<script>
    const forms = document.querySelectorAll('#manager form')
    const delete_topic = document.querySelector('#container_delete_topic')
    const delete_content = document.querySelector('#container_delete_content')

    get_data('get_content_all').then(data=>{
        console.log(data)
        generate('topic',data,delete_topic)
        generate('content',data,delete_content)
    })

    function generate(mode='topic',data={}, container=''){
        switch (mode){
            case 'topic':
                for(topic of data['topic']){
                    let li = document.createElement('li')
                    li.innerHTML = topic[0]
                    li.onclick = () =>{
                        post_data('DELETE','delete_topic',[topic[0]])
                    }
                    container.appendChild(li)
                }
                break
            case 'content':
                for(content of data['content_all']){
                    let li = document.createElement('li')
                    li.innerHTML = content[1]
                    li.onclick = () =>{
                        post_data('DELETE','delete_content',[content[1]])
                    }
                    container.appendChild(li)
                }
                break
            default:
                console.log(`generate:. mode ${mode} not found`)
        }
    }

    async function get_data(mode='get_content',data={}){
        const req = await fetch('/center',{
            method:'GET',
            headers:{
                'Content-Type':`application/json;mode=${mode}`,
            }
        })

        const resp = await req.json()
        return resp
    }  

    async function read(mode=0, data=''){
        let file = new FileReader()

        switch(mode){
            case 0:
                await file.readAsDataURL(data)
                break
            case 1:
                await file.readAsText(data)
                break
            default:
                break
        }
        return file
    }


    forms.forEach(form=>{
        form.onsubmit = async () =>{
            event.preventDefault()
            let file = false

            let data = []

            for (let input of form){
                if (input.type == 'file'){file = true}
            }
            for await (let input of form){
                if(input.value){
                    if (file){
                        if(input.type == 'file'){
                            let promise = ''
                            if(input.getAttribute('class') == 'image'){promise = await read(0,input.files[0])}
                            else{promise = await read(1,input.files[0])}
                            promise.onloadend = load =>{
                                data.push(load.target.result)
                                console.log(data)
                                post_data(form.getAttribute('method'),form.id,data)
                            }
                        }
                        else{data.push(input.value)}
                    }
                    else{data.push(input.value)}
                }
            }
            if (!file){
                console.log(data)
                post_data(form.getAttribute('method'),form.id,data)
                window.location.reload()
            }
        }
    })
    
    async function post_data(method='',mode='',data=[]){
        const req = await fetch('/admin/',{
            method:method,
            headers:{
                'Content-Type':`application/json; mode=${mode}`,
            },
            body:JSON.stringify(data)
        })

        if(req.ok){
            window.location.reload()
        }
    }
</script>
{% endblock body %}